[Unit]
Description=Orb HTTP Service
After=network.target
 
[Service]
Type=simple
WorkingDirectory=/home/pi/fadecandy-orb-lamp
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target

