#r_slider > .slider-track > .slider-handle {
  background: #e51c23;
}
#b_slider > .slider-track > .slider-handle {
  background: #0d87e9;
}
#g_slider > .slider-track > .slider-handle {
  background: #4caf50;
}
